html,
body,
h1,
h2,
h3,
p,
ul,
li,
form,
label,
input {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: $white;
}

* {
    outline: 1px solid;
    box-sizing: border-box;
}
