$logo-title-size: 31px;
$title-font-family: NotoSansCJKtc-Medium;
$sub-font-family: NotoSansCJKtc-Light;

$product-title-size: 14px;
$product-sub-title-size: 12px;

$price-title-size: 21px;
$price-sub-title-size: 12px;

$detail-log-title-size: 18px;
$detail-title-size: 36px;
$detail-sub-title-size: 14px;

$description-size: 12px;

$time-font-size: 21px;
